@import url("reset.css"); /* import reset */
/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
:root {
  /* set variables */
  --offblack: #0A0A0B;
  --dullblue: #0B3954;
  --bluetint: #BFD7EA;
  --softgray: #848B8E;
  --offwhite: #FEFFFE;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  color: var(--offblack); /* set to black as default and convert each button to white manually */
  background-image: linear-gradient(to top left, var(--dullblue), var(--offwhite) 110%);
  background-repeat: no-repeat;
}
body {
  padding: 1rem;
}
/* header & footer */
header, footer {
  font-family: 'Arimo', sans-serif;
  font-size: 3rem;
  color: var(--offblack);
  background-image: linear-gradient(to right, var(--bluetint), var(--offwhite));
  filter: drop-shadow(0.3rem 0.3rem 0.2rem var(--offblack));
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5em;
}
/* header */
header {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header ul {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header li {
  background-color: var(--dullblue);
  border: 0.05em solid var(--softgray);
  border-radius: 1em;
  padding: 0.1em 0.5em;
  margin: 0em 0.2em;
}
header a {
  text-decoration: none;
  color: var(--offwhite);
}
header a:hover { color: greenyellow; }
header a:active { color: hotpink; }
/* footer */
footer {
  font-size: 1rem;
  justify-content: center;
  padding: 0.2em;
}
/* -------------------------------- home.php -------------------------------- */
.home {
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
  color: var(--offblack);
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.6em;
  padding: 1em;
  margin: 1em 0em;
}
.home:first-child {
  align-items: center;
  padding: 1em 2em;
}
.home:first-child h2 { font-size: 2.5em; }
.home:nth-child(2) h2 { font-size: 1.8em; }
.home:nth-child(2) p { padding: 1em; }
#signup {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--offwhite);
  background-color: var(--dullblue);
  border: 0.05em solid var(--softgray);
  transition: border-color;
  border-radius: 1rem;
  padding: 1em 2.5em;
  margin: 1em 0em;
}
#signup:hover { color: greenyellow;  box-shadow: 0em 0em 0.2em;}
#signup:active { color: hotpink; }
.home:last-child h2 {
  font-size: 2em;
  align-self: center;
  margin-bottom: 0.5em;
}
.home:last-child p {
  font-family: 'Indie Flower', cursive;
  margin-bottom: 0.5em;
}
/* -------------------------------- signup.php -------------------------------- */
.signup{
  display: flex;
  justify-content: center;
}
.signup form{
  background-color: white;
  border: solid grey;
  border-radius: 1em;
  box-shadow: 0.2em 0.3em #0b3954;

  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 5em;
}
.signup form h2{
  font-size: 1.7em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bold;
}
.signup .input{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin: 1em 1em;
}
.signup .input label{
  margin-bottom: 0.2em;
}
.signup input{
  border-style: none;
  border-radius: 2em;
  background-color: #bfd7ea;
  line-height: 2.5em;
  padding-left: 0.8em;
  padding-right: 0.5em;
  margin-bottom: 0.2em;
  outline: none;
}
.signup textarea{
  background-color: #bfd7ea;
}
.signup fieldset{
  display: flex;
  justify-content: space-around;
}
.signup legend{
  font-size: 1.5em;
}
.signup fieldset div{
  margin-top: 0.5em;
  font-size: 1em;
}
.signup button{
  background-color: #0b3954;
  border-radius: 2em;
  color: white;
  margin:0.5em 0.5em;
  font-size: 1em;
  padding:0.3em 0.9em;
}
.signup .input button{
  font-size: 0.6em;
  margin-top: 0.1em;
  width: 20%;
  margin-left: 40%;
}
.signup button:hover{
  background-color: #061d2b;
}

.signup span{
  font-size: small;
}
/* -------------------------------- login.php -------------------------------- */

.logincreate h2 {
  text-align: center;
  font-size: 2.8rem;
}

.logincreate body{
  font-size: 1.2rem;
}

.logincreate form input[type=text], form input[type=password] {
  width: 100%;
  padding: 1.2em 2em;
  margin: 0.8em 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2em;
  background-color: #BFD7EA;
}

.logincreate form button {
  font-size: 1.2rem;
  background-color: #0B3954;
  color: #FEFFFE;
  padding: 0.7em 2em;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  width:100%;
}

.logincreate form a:hover,
.logincreate form button:hover {
  opacity: 0.8;
}

.logincreate form a {
  font-size: 1rem;
  padding: 0.5em; 
  text-decoration: none;
  background-color: #0B3954;
  color: #FEFFFE;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}

.logincreate .container {
  padding: 1.6em;
}

.logincreate .container div {
  padding-bottom: 1em;
}

.logincreate form span.psw {
  float: right;
}

.logincreate form {
  margin: 5em auto 5em auto; 
  max-width: 36em;
  background-color:#FEFFFE ;
  border-radius: 1em;
  box-shadow: 0.7em 0.7em 0.7em #082638;
}

/*------------------------------------------------------------------------------
|                               Error Styles
|-----------------------------------------------------------------------------*/

.error {
  color: red;
  display: block;
  margin: 0.5em;
}

.hidden {
  display: none;
}
