@import url("reset.css"); /*import reset*/
/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
/*:root{
    --grey: #1446a3;
    --white: #fefffe;

    background-color: #0b3954;
    background-color: #fefffe;
}*/
:root {
    font-family: 'Lora', serif;
    color: #0A0A0B;
    background-color: #FEFFFE ;
    background-image: linear-gradient(to bottom right, transparent, #0B3954);
   }
form{
    background-color: white;
    border: solid grey;
    border-radius: 1em;
    box-shadow: 0.2em 0.3em #0b3954;

    text-align: center;
    width: fit-content;
    display: inline-block;
    margin-top: 6em;
    margin-left: 30em;
    margin-bottom: 11em;
}
form h2{
    font-size: 1.7em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
}
.input{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 1em 1em;
}
.input label{
    margin-bottom: 0.2em;
}
input{
    border-style: none;
    border-radius: 2em;
    background-color: #bfd7ea;
    line-height: 2.5em;
    padding-left: 0.8em;
    padding-right: 0.5em;
    outline: none;
}
::placeholder{
    padding-left: 0.5em;
}
textarea{
    background-color: #bfd7ea;
}
fieldset{
    display: flex;
    justify-content: space-around;
}
legend{
    font-size: 1.5em;
}
fieldset div{
    margin-top: 0.5em;
    font-size: 1em;
}
button{
    background-color: #0b3954;
    border-radius: 2em;
    color: white;
    margin-bottom: 0.6em;
    margin-top: 0.5em;
    font-size: 1em;
    padding:0.3em 0.9em;
}
button:hover{
    background-color: #061d2b;
}
header, footer {
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
    color: var(--offblack);
    background-image: linear-gradient(to right, var(--bluetint), var(--offwhite));
    filter: drop-shadow(0.3rem 0.3rem 0.2rem var(--offblack));
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5em;
  }
  /* header */
  header {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  header ul {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  header li {
    background-color: var(--dullblue);
    border: 0.05em solid var(--softgray);
    border-radius: 1em;
    padding: 0.1em 0.5em;
    margin: 0em 0.2em;
  }
  header a {
    text-decoration: none;
    color: var(--offwhite);
  }
  header a:hover { color: greenyellow; }
  header a:active { color: hotpink; }
  /* footer */
  footer {
    font-size: 1rem;
    justify-content: center;
  }
